html, body {
    height: 100%;
    font-family: 'Bangers', cursive;
}

.curtains {
  background-image: url('curtain.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.main {
  background-image: url('theater3.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.openingText {
  text-align: center;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: 'Bangers', cursive;
}

.welcome h1{
  font-size: 100px;
}

.image {
  background-image: url('popcorn.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  width: 225px;
  margin: 0 auto;
  padding-top: 20%;
}

.heading {
  margin-bottom: 5px;
  color: white;
  font-family: 'Bangers', cursive;
  font-size: 36px;
}

.box {
  height: 600px;
  /*width: 100%;*/
  overflow: auto;
  background-color: silver;
  border: 10px solid black;
  background-size: 100% 100%;
}

.showMovieInput {
  display: none;
  font-size: 25px;
}

#movies {
  display: none;
}

/* safari and chrome */
@-webkit-keyframes wiggle {
	0% {-webkit-transform:rotate(4deg);}
	50% {-webkit-transform:rotate(-4deg);}
	100% {-webkit-transform:rotate(4deg);}
}

/* firefox */
@-moz-keyframes wiggle {
	0% {-moz-transform:rotate(4deg);}
	50% {-moz-transform:rotate(-4deg);}
	100% {-moz-transform:rotate(4deg);}
}

/* anyone brave enough to implement the ideal method */
@keyframes wiggle {
	0% {transform:rotate(4deg);}
	50% {transform:rotate(-4deg);}
	100% {transform:rotate(4deg);}
}

.popcorn:hover {
	-webkit-animation: wiggle 0.5s infinite;
	-moz-animation: wiggle 0.5s infinite;
	animation: wiggle 0.5s infinite;
}

.table {
  font-size: 30px;
}

.alert {
  font-size: 25px;
}
