html, body {
    height: 100%;
    /*background-color: papayawhip;*/
    background-image: url('theater3.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.heading {
  margin-bottom: 5px;
  color: white;
}

.box {
  height: 550px;
  width: 825px;
  overflow: auto;
  background-color: silver;
  border: 10px solid black;
  background-size: 100% 100%;
}


#movies {
  display: none;
}
